<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="date" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select formControlName="locationId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let location of locations" [value]="location.id">{{location.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CSO</mat-label>
    <mat-select formControlName="csoStaffId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let staff of csoStaffs" [value]="staff.id">{{staff.fullName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Job ID</mat-label>
    <input matInput placeholder="Job ID" formControlName="jobId">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Job Name</mat-label>
    <input matInput placeholder="Job Name" formControlName="jobName">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Code</mat-label>
    <input matInput placeholder="Code" formControlName="code">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Instruction</mat-label>
    <input matInput placeholder="Instruction" formControlName="instruction">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Input Number</mat-label>
    <input matInput placeholder="inputNumber" formControlName="inputNumber">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Product Level</mat-label>
    <mat-select formControlName="productLevelId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let productLevel of productLevels" [value]="productLevel.id">{{productLevel.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Deliver Type</mat-label>
    <mat-select formControlName="deliverTypeId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let deliverType of deliverTypes" [value]="deliverType.id">{{deliverType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a deadline</mat-label>
    <input matInput [matDatepicker]="date" formControlName="deadline">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="deadline"></mat-datepicker-toggle>
    <mat-datepicker #deadline></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>App</mat-label>
    <mat-select formControlName="appId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let app of apps" [value]="app.id">{{app.name}}</mat-option>
    </mat-select>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions class="container">
  <div class="group-btn">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
