<button class="e-control e-btn" style="z-index: 9999; margin: 12px;" id="targetButton"
  (click)="onOpenDialog($event)">
  Add Job
</button>

<div #container id="container-ejs-dialog" class='root-container'>

  <div class="control-section">
    <div class="col-lg-12">
      <div class="control_wrapper" id="control_wrapper" style="margin: 10px auto;">
        <ejs-dialog id="FormDialog" class="color-primary" header='Add new Job' #FormDialog width='450px' [showCloseIcon]='true'
          target='.control-section'>
          <ng-template #content>
            <form id="template_driven" #form="ngForm" novalidate>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="date" id="date" #dateval='ngModel' name="date" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="date">Date</label>
                  <div *ngIf="(dateval.invalid && (dateval.dirty || dateval.touched))">
                    <div class="e-error" *ngIf="dateval.errors?.['required']">
                      * Enter Date
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='locationId' #locationIdval='ngModel' [dataSource]='locationdata' required
                    ngModel [fields]='locationfields' [placeholder]='locationtext'></ejs-dropdownlist>
                  <div *ngIf="(locationIdval.invalid && (locationIdval.dirty || locationIdval.touched))">
                    <div class="e-error" *ngIf="locationIdval.errors?.['required']">
                      * Select a Location
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                    <span class="e-float-line"></span>
                    <ejs-dropdownlist id='csoId' #csoIdval='ngModel' [dataSource]='csodata'
                      required ngModel [fields]='csofields' [placeholder]='csotext'></ejs-dropdownlist>
                    <div *ngIf="(csoIdval.invalid && (csoIdval.dirty || csoIdval.touched))">
                      <div class="e-error" *ngIf="csoIdval.errors?.['required']">
                        * Select a CSO
                      </div>
                    </div>
                  </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="text" id="jobName" #jobNameval='ngModel' name="jobName" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="jobName">Job Name</label>
                  <div *ngIf="(jobNameval.invalid && (jobNameval.dirty || jobNameval.touched))">
                    <div class="e-error" *ngIf="jobNameval.errors?.['required']">
                      * Enter Job Name
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="text" id="code" #codeval='ngModel' name="code" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="code">Code</label>
                  <div *ngIf="(codeval.invalid && (codeval.dirty || codeval.touched))">
                    <div class="e-error" *ngIf="codeval.errors?.['required']">
                      * Enter Code
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="number" id="picNumber" #picNumberval='ngModel' name="picNumber" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="picNumber">Number</label>
                  <div *ngIf="(picNumberval.invalid && (picNumberval.dirty || picNumberval.touched))">
                    <div class="e-error" *ngIf="picNumberval.errors?.['required']">
                      * Enter Number
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="text" id="instruction" #instructionval='ngModel' name="instruction" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="instruction">Instruction</label>
                  <div *ngIf="(instructionval.invalid && (instructionval.dirty || instructionval.touched))">
                    <div class="e-error" *ngIf="instructionval.errors?.['required']">
                      * Enter Instruction
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='deliverTypeId' #deliverTypeIdval='ngModel' [dataSource]='deliverTypedata'
                    required ngModel [fields]='deliverTypefields' [placeholder]='deliverTypetext'></ejs-dropdownlist>
                  <div *ngIf="(deliverTypeIdval.invalid && (deliverTypeIdval.dirty || deliverTypeIdval.touched))">
                    <div class="e-error" *ngIf="deliverTypeIdval.errors?.['required']">
                      * Select a Deliver Type
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='productLevelId' #productLevelIdval='ngModel' [dataSource]='productLeveldata'
                    required ngModel [fields]='productLevelfields' [placeholder]='productLeveltext'></ejs-dropdownlist>
                  <div *ngIf="(productLevelIdval.invalid && (productLevelIdval.dirty || productLevelIdval.touched))">
                    <div class="e-error" *ngIf="productLevelIdval.errors?.['required']">
                      * Select a ProductLevel
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="date" id="deadline" #deadlineval='ngModel' name="deadline" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="deadline">Deadline</label>
                  <div *ngIf="(deadlineval.invalid && (deadlineval.dirty || deadlineval.touched))">
                    <div class="e-error" *ngIf="deadlineval.errors?.['required']">
                      * Enter Deadline
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='appId' #appIdval='ngModel' [dataSource]='appdata' required ngModel
                    [fields]='appfields' [placeholder]='apptext'></ejs-dropdownlist>
                  <div *ngIf="(appIdval.invalid && (appIdval.dirty || appIdval.touched))">
                    <div class="e-error" *ngIf="appIdval.errors?.['required']">
                      * Select an App
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group" style="padding-top: 11px;">
                <div class="submitBtn">
                  <button class="submit-btn e-btn" id="submit-btn" [disabled]="form.invalid" type="reset"
                    (click)="Submit()">Submit</button>
                  <div class="desc"><span></span></div>
                </div>
              </div>

            </form>
          </ng-template>
        </ejs-dialog>

      </div>
    </div>
  </div>
  <ejs-dialog id="confirmationDialog" #Dialog [buttons]='dlgButtons' [animationSettings]='animationSettings'
    [header]='formHeader' [showCloseIcon]='showCloseIcon' [content]='contentData' [target]='target' [width]='width'
    [visible]="visible" [isModal]="isModal">
  </ejs-dialog>

</div>
