<!-- <mat-label class="label">We-Edit statistic</mat-label> -->

<mat-grid-list cols="2" rowHeight="2:1" *ngIf="isAdmin">
  <mat-grid-tile class="label">
    <a href="/management/jobs"> Jobs:{{jobsCount}}</a>
  </mat-grid-tile>
  <mat-grid-tile class="label">
    <a href="/management/steps"> Steps: {{stepsCount}} </a>
  </mat-grid-tile>
  <mat-grid-tile class="label">
    <a href="/management/staffs"> Staffs: {{stepsCount}} </a>
  </mat-grid-tile>
  <mat-grid-tile class="label">
    <a href="/management/productlevels"> PLevels: {{productLevelsCount}} </a>
  </mat-grid-tile>
</mat-grid-list>
