<!-- <mat-label class="label">We-Edit statistic</mat-label> -->

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile class="label">
    <a href="/jobs"> Jobs:{{jobsCount}}</a>
  </mat-grid-tile>
  <mat-grid-tile class="label">
    <a href="/steps"> Steps: {{stepsCount}} </a>
  </mat-grid-tile>
  <mat-grid-tile class="label">
    <a href="/staffs"> Staffs: {{stepsCount}} </a>
  </mat-grid-tile>
  <mat-grid-tile class="label">
    <a href="/productlevels"> PLevels: {{productLevelsCount}} </a>
  </mat-grid-tile>
</mat-grid-list>
