<div fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">

  <div class="header-button-row">
    <!-- <button mat-raised-button color="primary" (click)="openAddDialog()">Add Staff</button> -->

    <mat-form-field class="search-field">
      <!-- <mat-label>Search</mat-label> -->
      <input matInput placeholder="Search fullname, account, email" #input>
    </mat-form-field>
  </div>

  <mat-sidenav-container fxFlex="0 1 auto">

    <mat-sidenav-content>
      <div class="mat-elevation-z8 m-12">
        <div class="table-container">
          <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
            matSortDirection="asc" matSortDisableClear>

            <ng-container matColumnDef="action" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                  <button mat-menu-item (click)="openRemoveDialog(element)">
                    <mat-icon>delete</mat-icon>
                    <span>Remove</span>
                  </button>

                  <button mat-menu-item (click)="openUpdateDialog(element)">
                    <mat-icon>edit</mat-icon>
                    <span>Update</span>
                  </button>


                  <button mat-menu-item (click)="addInShift(element)">
                    <mat-icon>assignment_ind</mat-icon>
                    <span>In Shift</span>
                  </button>

                  <button mat-menu-item (click)="addOutShift(element)">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Out Shift</span>
                  </button>

                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="account" sticky>
              <th mat-header-cell *matHeaderCellDef> Account </th>
              <td mat-cell *matCellDef="let element">
                <a href="/staffs/{{element.id}}">
                  {{element.account}}
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="fullname">
              <th mat-header-cell *matHeaderCellDef> FullName </th>
              <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="roles">
              <th mat-header-cell *matHeaderCellDef> Roles </th>
              <td mat-cell *matCellDef="let element"> {{element.rolenames}} </td>
            </ng-container>

            <ng-container matColumnDef="groups">
              <th mat-header-cell *matHeaderCellDef> Groups </th>
              <td mat-cell *matCellDef="let element"> {{element.groupnames}} </td>
            </ng-container>

            <ng-container matColumnDef="productLevels">
              <th mat-header-cell *matHeaderCellDef> Product-Levels </th>
              <td mat-cell *matCellDef="let element"> {{element.productLevelnames}} </td>
            </ng-container>

            <ng-container matColumnDef="currentShift">
              <th mat-header-cell *matHeaderCellDef> Current Shift </th>
              <td mat-cell *matCellDef="let element"> {{element.currentShiftname}} </td>
            </ng-container>

            <ng-container matColumnDef="isAssigned">
              <th mat-header-cell *matHeaderCellDef> Is Assigned </th>
              <td mat-cell *matCellDef="let element"> {{element.isAssigned}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.statusname}} </td>
            </ng-container>

            <ng-container matColumnDef="steps">
              <th mat-header-cell *matHeaderCellDef> Steps </th>
              <td mat-cell *matCellDef="let element">
                <a href="/staffs/{{element.id}}">
                  {{element.jobSteps?.length}}
                </a>
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element" class="id">
                {{element.id}}
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="this.dataSource.count" [pageIndex]="1" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements"
            (page)="handlePageEvent($event)">
          </mat-paginator>
        </div>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
