<add-staff></add-staff>
<ejs-grid style="padding-top: 50px;" [dataSource]='data' [allowPaging]="true" [allowSorting]="true"
  [pageSettings]="pageSettings">
  <e-columns>
    <e-column field='id' headerText='Id' textAlign='Left' width=90></e-column>
    <e-column field='fullName' headerText='Full Name' textAlign='Left' format='text' width=90></e-column>
    <e-column field='account' headerText='Account' textAlign='Left' width=90></e-column>
    <e-column field='email' headerText='Email' textAlign='Right' width=90></e-column>
    <e-column field='rolenames' headerText='Roles' textAlign='Right' width=90></e-column>
    <e-column field='productLevelnames' headerText='ProductLevels' textAlign='Right' width=90></e-column>
    <e-column field='currentShiftId' headerText='Current Shift' textAlign='Right' width=90></e-column>
    <e-column field='isAssigned' headerText='Is Assigned' textAlign='Right' width=90></e-column>
  </e-columns>
</ejs-grid>
