<div class="mat-elevation-z8">
  <div class="header-button-row">
    <button mat-raised-button color="primary" (click)="openAddJobDialog()">Add Job</button>

    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search JobID, code, instruction" #input>
    </mat-form-field>
  </div>

  <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
    matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="openRemoveJobDialog(element)">Remove</button>
        <button mat-raised-button color="primary" class="margin-left" (click)="openUpdateJobDialog(element)">Update</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element" class="id">
        <a href="/jobs/{{element.id}}">
          {{element.id}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date :'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.locationname}} </td>
    </ng-container>

    <ng-container matColumnDef="cso">
      <th mat-header-cell *matHeaderCellDef> CSO </th>
      <td mat-cell *matCellDef="let element"> {{element.cso.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef> Job ID </th>
      <td mat-cell *matCellDef="let element"> {{element.jobId}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="instruction">
      <th mat-header-cell *matHeaderCellDef> Instruction </th>
      <td mat-cell *matCellDef="let element"> {{element.instruction}} </td>
    </ng-container>

    <ng-container matColumnDef="inputNumber">
      <th mat-header-cell *matHeaderCellDef> Input Number </th>
      <td mat-cell *matCellDef="let element"> {{element.inputNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="productLevel">
      <th mat-header-cell *matHeaderCellDef> Product-Level </th>
      <td mat-cell *matCellDef="let element"> {{element.productLevel.code}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let element">
        {{element.startTime == '0001-01-01T00:00:00' ? '---' : (element.startTime | date :'short')}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef> End Time </th>
      <td mat-cell *matCellDef="let element">
        {{element.endTime == '0001-01-01T00:00:00' ? '---' : (element.endTime | date :'short')}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef> Deadline </th>
      <td mat-cell *matCellDef="let element">
        {{element.deadline == '0001-01-01T00:00:00' ? '---' : (element.deadline | date :'short')}} </td>
    </ng-container>

    <ng-container matColumnDef="deliverType">
      <th mat-header-cell *matHeaderCellDef> Deliver Type </th>
      <td mat-cell *matCellDef="let element"> {{element.deliverTypename}} </td>
    </ng-container>

    <ng-container matColumnDef="app">
      <th mat-header-cell *matHeaderCellDef> App </th>
      <td mat-cell *matCellDef="let element"> {{element.appname}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="this.dataSource.count" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]"
    showFirstLastButtons aria-label="Select page of periodic elements" (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
