<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <mat-label>Fullname</mat-label>
    <input matInput placeholder="" formControlName="fullname">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Account</mat-label>
    <input matInput placeholder="" formControlName="account">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Roles</mat-label>
    <mat-select [formControl]="roleIds" multiple>
      <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Product Levels</mat-label>
    <mat-select [formControl]="productLevelIds" multiple>
      <mat-option *ngFor="let productLevel of productLevels" [value]="productLevel.id">{{productLevel.code}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="container">
  <div class="group-btn">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
