  <h1 mat-dialog-title>Operation {{executionName}}</h1>

  <mat-dialog-content [formGroup]="form">

    <!-- operation  -->
    <mat-checkbox [formControl]="isFirstRoute">Is First Operation</mat-checkbox>

    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Get JobStep Action" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput placeholder="Assign free active Staffs to Job-Steps todo matching some conditions"
        formControlName="description">
    </mat-form-field>

    <!-- settings -->
    <mat-form-field>
      <mat-label>Filter Job-Steps</mat-label>
      <input matInput placeholder="Filter job-steps" formControlName="rawSqlFilterJobStep">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions class="container">
    <div class="group-btn">
      <button mat-button color="primary" (click)="close()">Close</button>
      <button mat-button mat-dialog-close color="primary" (click)="save()" cdkFocusInitial>Save</button>
    </div>
  </mat-dialog-actions>
