<div class="container-head">
  <div class="header">
    <p>Job {{jobId}}</p>
  </div>

  <ejs-grid [dataSource]='job'>
    <e-columns>
      <e-column field='id' headerText='Id' textAlign='Left' width=90></e-column>
      <e-column field='date' headerText='Date' textAlign='Left' format='yMd' width=90></e-column>
      <e-column field='location' headerText='Location' textAlign='Left' width=90></e-column>
      <e-column field='cso.fullName' headerText='CSO' textAlign='Right' width=90></e-column>
      <e-column field='jobId' headerText='Job ID' textAlign='Right' width=90></e-column>
      <e-column field='code' headerText='Code' textAlign='Right' width=90></e-column>
      <e-column field='instruction' headerText='Instruction' textAlign='Right' width=90></e-column>
      <e-column field='inputNumber' headerText='Input' textAlign='Right' width=90></e-column>
      <e-column field='productLevel.code' headerText='Product Level' textAlign='Right' width=90></e-column>
      <e-column field='outputNumber' headerText='Output' textAlign='Right' width=90></e-column>
      <e-column field='statusname' headerText='Status' textAlign='Right' width=90></e-column>
    </e-columns>
  </ejs-grid>
</div>

<add-job-step></add-job-step>
<assign-staff></assign-staff>

<div class="card">
  <div class="header">
    <p>Steps of Job</p>
  </div>
  <div class="container">
    <ejs-grid [dataSource]='jobSteps' [allowPaging]="true" [allowSorting]="true"
      [pageSettings]="pageSettings">
      <e-columns>

        <!-- <e-column field='Action' headerText='Action' width='200'>
      <ng-template #template let-data>
        <button ejs-button cssClass="e-flat" (click)="assignClick(data)" content="Assign">Assign</button>
      </ng-template>
    </e-column> -->

        <e-column field='step.name' headerText='Step' textAlign='Left' format='yMd' width=90></e-column>
        <e-column field='step.productLevel.code' headerText='Product Level' textAlign='Left' format='yMd' width=90></e-column>
        <e-column field='inputNumber' headerText='Input Number' textAlign='Left' width=90></e-column>
        <e-column field='worker.fullName' headerText='Worker' textAlign='Right' width=90></e-column>
        <e-column field='shift.name' headerText='Shift' textAlign='Right' width=90></e-column>
        <e-column field='estimationInSeconds' headerText='Estimation' textAlign='Right' width=90></e-column>
        <e-column field='startTime' headerText='Start Time' textAlign='Right' width=90></e-column>
        <e-column field='endTime' headerText='End Time' textAlign='Right' width=90></e-column>
        <e-column field='statusname' headerText='Status' textAlign='Right' width=90></e-column>
      </e-columns>
    </ejs-grid>
  </div>
</div>
