<mat-toolbar class="box-shadow" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">We Edit</a>
  </div>
  <div>
    <!-- <span class="notify-message">{{cronJobSignalRService.message}}</span> -->
    <span class="notify-message">Auto assign Staff to Step of Job by trigger API</span>
  </div>
  <div class="menu" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul *ngIf="isAuthenticated" fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a (click)="signout()" href="javascript:void(0)">Signout {{name}}</a>
      </li>
      <li>
        <a routerLink="/productlevels">PLevels</a>
      </li>
      <li>
        <a routerLink="/steps">Steps</a>
      </li>
      <li>
        <a routerLink="/jobs">Jobs</a>
      </li>
      <li>
        <a routerLink="/staffs">Staffs</a>
      </li>
    </ul>

    <ul *ngIf="!isAuthenticated" fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/register">
          <p>Register</p>
        </a>
      </li>
      <li>
        <a>
          <p class="hover-pointer" (click)="login()">Login</p>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
