a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

.box-shadow {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  mat-toolbar {
    border-radius: 0px;
  }

  mat-toolbar .menu {
    display: none;
  }

  .search-field {
    width: 200px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  mat-toolbar .menu {
    display: none;
  }

  .search-field {
    width: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  mat-toolbar .menu {
    display: block;
  }

  .search-field {
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  mat-toolbar .menu {
    display: block;
  }

  .search-field {
    width: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  mat-toolbar .menu {
    display: block;
  }

  .search-field {
    width: 500px;
  }
}
