<mat-toolbar class="box-shadow" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="!isAuthenticated">
    <a routerLink="/">
      <img src="assets/images/logo.png" width="40" class="mb-4" />
    </a>
  </div>
  <div *ngIf="isAuthenticated && isAdmin">
    <a routerLink="/home">
      <img src="assets/images/logo.png" width="40" class="mb-4" />
    </a>
  </div>
  <div *ngIf="isAuthenticated && !isAdmin">
    <a routerLink="/staffs/{{staffId}}">
      <img src="assets/images/logo.png" width="40" class="mb-4" />
    </a>
  </div>
  <div>
    <!-- <span class="notify-message">{{cronJobSignalRService.message}}</span> -->
    <span class="notify-message">Auto assign Staff to Step of Job by trigger API</span>
  </div>
  <div class="menu" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul *ngIf="isAuthenticated" fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a (click)="signout()" href="javascript:void(0)">Signout {{name}}</a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="/management/plevels">PLevels</a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="/management/steps">Steps</a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="/management/jobs">Jobs</a>
      </li>
      <li *ngIf="isAdmin">
        <a routerLink="/management/staffs">Staffs</a>
      </li>
      <li *ngIf="!isAdmin">
        <a routerLink="/staffs/{{staffId}}">My Job</a>
      </li>
    </ul>

    <ul *ngIf="!isAuthenticated" fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/authentication/register">
          <p>Register</p>
        </a>
      </li>
      <li>
        <a>
          <p class="hover-pointer" (click)="login()">Login</p>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
