<button class="e-control e-btn" style="position: absolute; z-index: 9999; margin: 12px;" id="targetButton"
  (click)="onOpenAddProductLevelDialog($event)">
  Add Product-Level
</button>

<div #container id="container-ejs-dialog" class='root-container add-product-level-for-staff'>

  <div class="control-section">
    <div class="col-lg-12">
      <div class="control_wrapper" id="control_wrapper" style="margin: 10px auto;">
        <ejs-dialog id="FormDialogAddProductLevelForStaff" class="color-primary" header='Add Product-Level for Staff'
          #FormDialogAddProductLevelForStaff width='450px' [showCloseIcon]='true' target='.control-section'>
          <ng-template #content>
            <form id="template_driven" #form="ngForm" novalidate>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='staffId' #staffIdval='ngModel' [dataSource]='staffdata' required ngModel
                    [fields]='stafffields' [placeholder]='stafftext'></ejs-dropdownlist>
                  <div *ngIf="(staffIdval.invalid && (staffIdval.dirty || staffIdval.touched))">
                    <div class="e-error" *ngIf="staffIdval.errors?.['required']">
                      * Select a Staff
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='productLevelId' #productLevelIdval='ngModel' [dataSource]='productLeveldata'
                    required ngModel [fields]='productLevelfields' [placeholder]='productLeveltext'></ejs-dropdownlist>
                  <div *ngIf="(productLevelIdval.invalid && (productLevelIdval.dirty || productLevelIdval.touched))">
                    <div class="e-error" *ngIf="productLevelIdval.errors?.['required']">
                      * Select a ProductLevel
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group" style="padding-top: 11px;">
                <div class="submitBtn">
                  <button class="submit-btn e-btn" id="submit-btn" [disabled]="form.invalid" type="reset"
                    (click)="Submit()">Submit</button>
                  <div class="desc"><span></span></div>
                </div>
              </div>

            </form>
          </ng-template>
        </ejs-dialog>

      </div>
    </div>
  </div>
  <ejs-dialog id="confirmationDialog" #Dialog [buttons]='dlgButtons' [animationSettings]='animationSettings'
    [header]='formHeader' [showCloseIcon]='showCloseIcon' [content]='contentData' [target]='target' [width]='width'
    [visible]="visible" [isModal]="isModal">
  </ejs-dialog>

</div>
