<div fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-sidenav-container fxFlex="0 1 auto">

    <mat-sidenav-content>

      <table mat-table class="staffs-table mat-elevation-z8" [dataSource]="staffs" matSort matSortActive="id"
        matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="action" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

              <button mat-menu-item (click)="addInShift()">
                <mat-icon>assignment_ind</mat-icon>
                <span>In Shift</span>
              </button>

              <button mat-menu-item (click)="addOutShift()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Out Shift</span>
              </button>

            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef> FullName </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <ng-container matColumnDef="account" sticky>
          <th mat-header-cell *matHeaderCellDef> Account </th>
          <td mat-cell *matCellDef="let element"> {{element.account}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef> Roles </th>
          <td mat-cell *matCellDef="let element"> {{element.rolenames}} </td>
        </ng-container>

        <ng-container matColumnDef="groups">
          <th mat-header-cell *matHeaderCellDef> Groups </th>
          <td mat-cell *matCellDef="let element"> {{element.groupnames}} </td>
        </ng-container>

        <ng-container matColumnDef="productLevels">
          <th mat-header-cell *matHeaderCellDef> Product Levels </th>
          <td mat-cell *matCellDef="let element"> {{element.productLevelnames}} </td>
        </ng-container>

        <ng-container matColumnDef="currentShift">
          <th mat-header-cell *matHeaderCellDef> Current Shift</th>
          <td mat-cell *matCellDef="let element"> {{element.currentShiftname}} </td>
        </ng-container>

        <ng-container matColumnDef="isAssigned">
          <th mat-header-cell *matHeaderCellDef> Is Assigned </th>
          <td mat-cell *matCellDef="let element"> {{element.isAssigned}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">
            {{element.statusname}}
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element" class="id">
            {{element.id}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedStaffColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedStaffColumns;"></tr>

      </table>


    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<mat-tab-group>
  <mat-tab label="Steps">
    <div fxFlex="1 0 100%" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-sidenav-container fxFlex="0 1 auto">
        <mat-sidenav-content>

          <div class="mat-elevation-z8 m-12">
            <table mat-table class="jobs-table mat-elevation-z8" [dataSource]="jobStepDtos" matSort matSortActive="id"
              matSortDirection="asc" matSortDisableClear>

              <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">

                    <!-- <button mat-menu-item (click)="openRemoveStepOfStaffDialog(element.jobStep)">
                  <mat-icon>delete</mat-icon>
                  <span>Remove</span>
                </button> -->

                    <button mat-menu-item (click)="openUpdateStepStatus(element.jobStep, 0)">
                      <mat-icon>assignment</mat-icon>
                      <span>Todo</span>
                    </button>

                    <button mat-menu-item (click)="openUpdateStepStatus(element.jobStep, 1)">
                      <mat-icon>directions_run</mat-icon>
                      <span>Doing</span>
                    </button>

                    <button mat-menu-item (click)="openUpdateStepStatus(element.jobStep, 5)">
                      <mat-icon>stop</mat-icon>
                      <span>Pending</span>
                    </button>

                    <button mat-menu-item (click)="openUpdateStepStatus(element.jobStep, 2)">
                      <mat-icon>done</mat-icon>
                      <span>Done</span>
                    </button>

                    <button mat-menu-item (click)="openUpdateStepStatusDialog(element.jobStep, 3)">
                      <mat-icon>assignment_turned_in</mat-icon>
                      <span>Approve</span>
                    </button>

                    <button mat-menu-item (click)="openUpdateStepStatusDialog(element.jobStep, 4)">
                      <mat-icon>assignment_return</mat-icon>
                      <span>Reject</span>
                    </button>

                  </mat-menu>
                </td>
              </ng-container>

              <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.jobStep.step?.name}} </td>
              </ng-container>

              <ng-container matColumnDef="productLevel">
                <th mat-header-cell *matHeaderCellDef> Product-Level </th>
                <td mat-cell *matCellDef="let element"> {{element.jobStep.step?.productLevel?.code}} </td>
              </ng-container>

              <ng-container matColumnDef="inputNumber">
                <th mat-header-cell *matHeaderCellDef> Input Number </th>
                <td mat-cell *matCellDef="let element"> {{element.jobStep.inputNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="worker">
                <th mat-header-cell *matHeaderCellDef> Worker </th>
                <td mat-cell *matCellDef="let element"> {{element.jobStep.worker?.fullName}} </td>
              </ng-container>

              <ng-container matColumnDef="shift">
                <th mat-header-cell *matHeaderCellDef> Shift </th>
                <td mat-cell *matCellDef="let element"> {{element.jobStep.shift?.name}} </td>
              </ng-container>

              <ng-container matColumnDef="estimationInSeconds">
                <th mat-header-cell *matHeaderCellDef> Estimation In Seconds </th>
                <td mat-cell *matCellDef="let element"> {{element.jobStep.estimationInSeconds}} </td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let element">
                  {{element.jobStep.startTime == '0001-01-01T00:00:00' ? '---' : (element.jobStep.startTime | date :'short')}}
                </td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef> End Time </th>
                <td mat-cell *matCellDef="let element">
                  {{element.jobStep.endTime == '0001-01-01T00:00:00' ? '---' : (element.jobStep.endTime | date :'short')}}
                </td>
              </ng-container>

              <ng-container matColumnDef="statusname">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <p class="border transition label-{{element.jobStep.statusname}}"> {{element.jobStep.statusname}}</p>
                </td>
              </ng-container>

              <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef> Notes </th>
                <td mat-cell *matCellDef="let element">
                  <a href="/notes?objectName=jobstep&objectId={{element.jobStep.id}}">
                    {{element?.lastNote}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> StepId </th>
                <td mat-cell *matCellDef="let element" class="id">
                  <a href="/management/steps/{{element.jobStep.step.id}}">
                    {{element.jobStep.step.id}}
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedJobStepColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedJobStepColumns;"></tr>
            </table>
          </div>

        </mat-sidenav-content>

      </mat-sidenav-container>
    </div>
  </mat-tab>
</mat-tab-group>
