<div class="parent">
  <mat-card class="example-card">
    <h2 mat-dialog-title>{{title}}</h2>
    <mat-dialog-content [formGroup]="form">
      <img src="assets/images/logo.png" width="175" class="mb-4" />

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="" formControlName="name" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
        <input matInput placeholder="" formControlName="email" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Min. 6 characters with at least one non alphanumeric character</mat-hint>
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions class="container">
      <div class="group-btn">
        <button mat-raised-button color="primary" (click)="onSubmit()">Register</button>
      </div>

      <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
        <strong>Oops!</strong> {{error}}
      </div>
      <div *ngIf="success" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Your account was created successfully, <a (click)="login()">Please login</a> to continue.</p>
      </div>
    </mat-dialog-actions>
  </mat-card>
</div>
