/* for sidenav to take a whole page */
html,
body {
  margin: 0;
  height: 100%;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}

mat-toolbar li a {
  float: left;
  margin-left: 20px;
}

mat-toolbar li {
  float: right;
}

mat-toolbar .menu {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-dialog-container {
  max-width: 50vw;
}

mat-dialog-actions {
  margin: 14px;
}

.cdk-overlay-pane {
  width: 30vw;
}

.search-field {
  width: 500px;
  float: right;
}

.mat-elevation-z8 {
  padding: 12px;
}

.group-btn {
  margin: 15px;
}

tbody tr {
  cursor: pointer;
}
