  <h1 mat-dialog-title>Add Step to Job {{data.jobId}}</h1>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Step</mat-label>
      <mat-select formControlName="stepId">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let step of steps" [value]="step.id">{{step.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="container">
    <div class="group-btn">
      <button mat-button color="primary" (click)="close()">Close</button>
      <button mat-button mat-dialog-close color="primary" (click)="save()" cdkFocusInitial>Save</button>
    </div>
  </mat-dialog-actions>
