<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>
  </a>
  <div *ngIf="isAuthenticated">
    <a mat-list-item *ngIf="isAdmin" routerLink="/home" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item *ngIf="isAdmin" routerLink="/management/flows" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">Flows</span>
    </a>
    <a mat-list-item *ngIf="isAdmin" routerLink="/management/staffs" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">Staffs</span>
    </a>
    <a mat-list-item *ngIf="!isAdmin && staffId" routerLink="/staffs/{{staffId}}" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">My Job</span>
    </a>
    <a mat-list-item *ngIf="isAdmin" routerLink="/management/jobs" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">Jobs</span>
    </a>
    <a mat-list-item *ngIf="isAdmin" routerLink="/management/steps" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">Steps</span>
    </a>
    <a mat-list-item *ngIf="isAdmin" routerLink="/management/plevels" (click)="onSidenavClose()">
      <mat-icon></mat-icon> <span class="nav-caption">PLevels</span>
    </a>
    <a mat-list-item (click)="signout()" href="javascript:void(0)">
      <mat-icon></mat-icon> <span class="nav-caption">Signout {{name}}</span>
    </a>
  </div>

  <div *ngIf="!isAuthenticated">
    <a mat-list-item routerLink="/authentication/register">
      <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item (click)="login()">
      <span class="nav-caption hover-pointer">Login</span>
    </a>
  </div>
</mat-nav-list>
