<div class="control-container">
  <ejs-appbar colorMode="Primary">
    <button #regularBtn ejs-button cssClass="e-inherit menu" iconCss="e-icons e-menu"></button>
    <span class="regular">We Edit</span>
    <span style="margin-left: 50px;">
      {{ signalRService.message}}
    </span>
    <div class="e-appbar-spacer"></div>

    <a class="" [routerLink]='["/staffs"]'>
      <button ejs-button cssClass="e-inherit">Staff</button>
    </a>

    <a class="" [routerLink]='["/jobs"]'>
      <button ejs-button cssClass="e-inherit">Job</button>
    </a>

    <a class="" [routerLink]='["/steps"]'>
      <button ejs-button cssClass="e-inherit">Step</button>
    </a>

    <a class="" [routerLink]='["/productLevels"]'>
      <button ejs-button cssClass="e-inherit">Product-Level</button>
    </a>

  </ejs-appbar>
</div>
