<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Code</mat-label>
    <input matInput placeholder="" formControlName="code">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Order Number</mat-label>
    <input matInput placeholder="" formControlName="orderNumber">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estimation In Seconds</mat-label>
    <input matInput placeholder="" formControlName="estimationInSeconds">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Product Level</mat-label>
    <mat-select formControlName="productLevelId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let productLevel of productLevels" [value]="productLevel.id">{{productLevel.code}}</mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="container">
  <div class="group-btn">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</mat-dialog-actions>
