<button class="e-control e-btn" style="z-index: 9999; margin: 12px;" id="targetButton"
  (click)="onOpenDialog($event)">
  Add Step
</button>

<div #container id="container-ejs-dialog" class='root-container'>

  <div class="control-section">
    <div class="col-lg-12">
      <div class="control_wrapper" id="control_wrapper" style="margin: 10px auto;">
        <ejs-dialog id="FormDialogStep" class="color-primary" header='Add new Step' #FormDialog width='450px'
          [showCloseIcon]='true' target='.control-section'>
          <ng-template #content>
            <form id="template_driven" #form="ngForm" novalidate>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="text" id="name" #nameval='ngModel' name="name" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="name">Name</label>
                  <div *ngIf="(nameval.invalid && (nameval.dirty || nameval.touched))">
                    <div class="e-error" *ngIf="nameval.errors?.['required']">
                      * Require a Name
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <span class="e-float-line"></span>
                  <ejs-dropdownlist id='productLevelId' #productLevelIdval='ngModel' [dataSource]='productLeveldata'
                    required ngModel [fields]='productLevelfields' [placeholder]='productLeveltext'></ejs-dropdownlist>
                  <div *ngIf="(productLevelIdval.invalid && (productLevelIdval.dirty || productLevelIdval.touched))">
                    <div class="e-error" *ngIf="productLevelIdval.errors?.['required']">
                      * Select a ProductLevel
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="text" id="code" #codeval='ngModel' name="code" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="code">Code</label>
                  <div *ngIf="(codeval.invalid && (codeval.dirty || codeval.touched))">
                    <div class="e-error" *ngIf="codeval.errors?.['required']">
                      * Require a Code
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="number" id="orderNumber" #orderNumberval='ngModel' name="email" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="orderNumber">Order Number</label>
                  <div *ngIf="(orderNumberval.invalid && (orderNumberval.dirty || orderNumberval.touched))">
                    <div class="e-error" *ngIf="orderNumberval.errors?.['required']">
                      * Require an Order Number
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="form-group" style="padding-top: 11px;">
                <div class="e-float-input">
                  <input type="number" id="estimationInSeconds" #estimationInSecondsval='ngModel' name="estimationInSeconds" required ngModel>
                  <span class="e-float-line"></span>
                  <label class="e-float-text e-label-top" for="estimationInSeconds">Estimation In Seconds</label>
                  <div *ngIf="(estimationInSecondsval.invalid && (estimationInSecondsval.dirty || estimationInSecondsval.touched))">
                    <div class="e-error" *ngIf="estimationInSecondsval.errors?.['required']">
                      * Require Estimation In Seconds
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" style="padding-top: 11px;">
                <div class="submitBtn">
                  <button class="submit-btn e-btn" id="submit-btn" [disabled]="form.invalid" type="reset"
                    (click)="Submit()">Submit</button>
                  <div class="desc"><span></span></div>
                </div>
              </div>

            </form>
          </ng-template>
        </ejs-dialog>

      </div>
    </div>
  </div>
  <ejs-dialog id="confirmationDialog" #Dialog [buttons]='dlgButtons' [animationSettings]='animationSettings'
    [header]='formHeader' [showCloseIcon]='showCloseIcon' [content]='contentData' [target]='target' [width]='width'
    [visible]="visible" [isModal]="isModal">
  </ejs-dialog>

</div>
